{% extends "admin_base.html" %}

{% block title %} Enrollments {% endblock %}

{% block head %}

    <style>
                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form-container{
    width: 40vw;
    height: max-content;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.431);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.form-container h2{
    color: rgb(79,68,224);
    font-size: 1.6rem;
}

.form-container h2 i{
    font-size: 1.8rem;
    padding-left: 0.1rem;
}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0.7rem;
}

.input input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-top: 1.1rem;
    padding-left: 14px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: 0.2s;
}
.input-2 input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-left: 14px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: 0.2s;
}
.input-10 input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-left: 14px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: 0.2s;
}
.input-10{
    margin-bottom: 20px;
}
.input label{
    position: absolute;
    top: 25%;
    left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    transition: 0.2s;
}
.input-10 input::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    transition: 0.2s;
}

.input input:focus ~ label, .input input:valid ~ label{
    top: 10%;
    font-size: 0.8rem;
    color: #000;
} 

.input input:focus{
    border-width: 2px;
    border-color: rgb(79,68,224);
}
button{
    height: 50px;
    background: rgb(79,68,224);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 30px;
    margin-right: 10px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
button i{
    margin-left: 5px;
}
.error{
    width: 100%;
    background-color: coral;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
    text-align: center;
}
.join-link{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.join-link a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(79,68,224);
}
.success{
    width: 100%;
    background-color: lightgreen;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    color: green;
    margin-top: 10px;
    text-align: center;
}
select:focus{
    outline: none;
}
@media(max-width: 900px){
    .form-container{
        width: 100% !important;
    }
}
.buttons-group{
    display: flex;
    align-items: center;
}
button a{
    color: white;
}
a{
    text-decoration: none;
}
    </style>

{% endblock head %}

{% block body %}
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="form-container">
        <div class="intro-text">
            <h1 style="font-family: 'Poppins', sans-serif">Address Details</h1>
        </div>
        {% if success %}
            <div class="success">Form Successfully Saved</div>
        {% endif %}
        <div class="inputs">
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.address_1}}" type="text" placeholder="Address Line 1 *" class="address_1" name="address_1" required/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.address_2}}" type="text" class="address_2" name="address_2" placeholder="Address Line 2"/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.address_3}}" type="text" class="address_3" name="address_3" placeholder="Address Line 3"/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.pincode}}" placeholder="Pincode *" type="text" class="pincode" name="pincode" required/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.city}}" placeholder="City *" type="text" class="city" name="city" required/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.state}}" placeholder="State *" type="text" class="state" name="state" required/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.post_office}}" placeholder="Post Office *" type="text" class="post_office" name="post_office" required/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.landmark}}" placeholder="Landmark *" type="text" class="landmark" name="landmark" required/>
            </div>
            <div class="input-11" style="margin-top: 15px;">
                <label for="">Aadhaar Front Side Photo *</label><br>
                <input value="{{enrollment.aadhaar_image}}" placeholder="Aadhaar Front Side Photo *" style="margin-top: 10px; font-family: 'Poppins', sans-serif;" accept="image/*" capture="camera" type="file" name="aadhaar_image"/>
            </div>
            <div class="input-11" style="margin-top: 15px;">
                <label for="">Aadhaar Back Side Photo *</label><br>
                <input value="{{enrollment.aadhaar_image_back}}" placeholder="Aadhaar Back Side Photo *" style="margin-top: 10px; font-family: 'Poppins', sans-serif;" accept="image/*" capture="camera" type="file" name="aadhaar_image_back"/>
            </div>
            <div class="input-10" style="margin-top: 15px;">
                <input value="{{enrollment.location}}" type="text" placeholder="Locaion *" class="location" name="location" required/>
            </div>
            <div class="buttons-group">
                <button type="submit">Save</button>
                <button type="button" onclick="next()">Next</button>
        </div>
    </form>
    </div>
</div>

<script>
        function maritial_status() {
        status = document.querySelector(".maritial_status").value;
        if(value == "Married"){
            document.querySelector(".spouse_name").style.display = "block";
        }
        else if(value == "Single"){
            document.querySelector(".spouse_name").style.display = "none";
        }
    }
    function reset() {
        location.reload()
    }
    function preview() {
        if("{{id}}" == ""){
            alert("Please Fill Up And Save The Form To See The Preview")
        }
        else{
            window.open("/dealer_dashboard/preview_first/{{id}}", "_blank");
        }
            
    }
    function next() {
        if("{{id}}" == ""){
            alert("Please Fill Up And Save The Form To See The Preview")
        }
        else{
            window.location.href="/admin_dashboard/personal_information/{{id}}";
        }
    }
</script>
{% endblock body %}